@charset 'utf-8';
// Dossier utils contient: les variables, fonctions et mixins.
@import "./utils/variables";
@import "./utils/mixins";

// Dossier vendors peut être créé si besoin un jour d'utiliser du code externe.

// Dossier base contient: la police et les normes utilisées pour la structure du site.
@import "./base/base";

// Dossier composants contient: les blocs indépendants
@import "./components/Auth/log";

@import "./components/home";
   // Articles et commentaire
@import "./components/Articles/posts";
@import "./components/Articles/editPost";
@import './components/Articles/createPost';
@import './components/Articles/myPosts';
@import './components/Comment/comments';
     // Utilisateurs
@import "./components/ProfilUser/profilUser";
@import "./components/ProfilUser/editProfil";

@import "./components/Users/contacts";

// Dossier layout contient: les blocs que l'on retrouve sur toutes les pages du site.
@import "./layout/banner";
@import "./layout/footer";

// Dossier pages contient: les blocs qui ne sont présents que sur une page du site.
@import "./pages/loading";
@import './pages/index';
@import "./pages/app"
// Dossier themes peut être créé si besoin d'en appliquer un pour une occasion (Nouvel an, Saint-Valentin, etc.).