@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";
.bloc-contact{
     @include bloc-home;
     flex-direction: row;
     margin: 0;
}

.bloc-cards{
     @include bloc-home
}
.contact-h2{
     @include h2-bold;
     width:100px;
     align-items: center;
     margin : 5% auto 0% auto;
}
//mixin pour l'ensemble du bloc correspondant à l'input search-user
@include input-contact;

.bloc-card-user{
     @include bloc-card-user

}
.card-user{
     @include card-user

}
.imageUser{
    @include image-user
}
.identity{
     @include identity;
}
.bloc-btn-contact{
     width: 30%;
     display: flex;
     justify-content: center;
     font-size: 1.2em;

}
i.fa-circle-arrow-left{
     font-size: 1.6em;
     font-weight: 600;
     color: $color-secondary;
     margin-bottom: 30px;
}
.identity{
     @include identity;
     padding: 0;
}