// TOUTES LES MIXINS SONT SUR CE FICHIER. 
@import './variables';
// Mixins des valeurs attribuées aux sections et aux blocs

//utilisé dans ../layout/_banner.scss
@mixin banner
{
    color: black;
	background-color: $color-secondary;
	text-align: center;
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	flex-direction:row;
	align-items: center;
    height: 200px;
}
//utilisés dans ../components/_log.scss
@mixin bloc-log
{
    width: 100%;
	flex-direction: column;
	margin-bottom: 20px;
	font-family:'Montserrat-VariableFont_wght','Sans-Serif','Calibri';
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
}
@mixin bloc-home
{
    width: 100%;
	flex-direction: row;
	margin-bottom: 20px;
	font-family:'Montserrat-VariableFont_wght','Sans-Serif','Calibri';
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
    align-items: center;
    text-align: center;
    justify-content: center;
}
@mixin bloc-card-user{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    background-color: $color-optional;
    justify-content: center;
}
@mixin container-article {
    display: flex;
     flex-direction: column;
     justify-content: flex-start;
     max-width: 90%;
     height: auto;
     flex-wrap: wrap;
     margin: 15px auto;
     border: 3px solid $color-primary;
     border-radius: 20px
}
@mixin connect
{
    background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
}
@mixin connect-cart
{
    margin: 20px 0px;
	border: 1px solid $color-secondary;
	border-radius: 20px 20px;
	background-color: white;
	color: $color-primary;
	width: 70%;
	height: auto;
	box-shadow: 7px 7px 8px $color-secondary;
}

@mixin input
{
    width: 80%;
	height: auto;
	border: 1px solid $color-secondary;
	border-radius: 20px 20px;
	padding: 10px;
	color: #091F43;
	font-size: 1em;
    font-weight: 450;
	margin: 15px 0px 5px 0px;
    font-family:'Montserrat-VariableFont_wght','Sans-Serif','Calibri';
    src: url('../Montserrat/Montserrat-VariableFont_wght.ttf');
}
@mixin input-contact{
    .search{
        width: 100%;
        display: flex;
        flex-direction: row;
   }
   .input-container{
        position: relative;
       left: 6%;
       width: 276px;
       right: 83px;
   }
   .search-input{
        max-width: 250px;
        margin: 30px 0px auto 30px;
        font-size: 1.1em;
   }
   .submit-input{
        width: 20%;
        margin-left: -17%;
        background-color: $color-secondary;
        color: white;
   }
}
@mixin btn
{
    background-image: linear-gradient(to right, $color-secondary 0%, #cb6f76  70%, $color-secondary   100%);
    font-family: $font-Montserrat;
	font-size: 14px;
    margin: 10px;
    padding: 10px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    border: none;
    display: block;
}
@mixin btn-home
{
    background-image: linear-gradient(to right, $color-secondary 0%, #cb6f76  70%, $color-secondary   100%);
    font-family: $font-Montserrat;
	font-size: 14px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    border: none;
}
@mixin card-user{
    max-width: 45%;
     flex-wrap: wrap;
     height: auto;
     margin: 20px 10px;
     background-color: $color-white;
     border-radius: 15%;
     box-shadow: 7px 7px 12px $color-primary;
}

@mixin image-user
{
    max-width: 80%;
    height: 100px;
    border-radius: 100%;
    margin: 15px auto 0px auto;
    object-fit: cover;
    background-color: $color-primary;
}
@mixin image-article{
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0px 0px;
    margin: 0px auto;
    object-fit: cover;
}
// Les valeurs attribuées aux Titres, Sous-titre et texte 
@mixin h1 
{
    font-family: $font-Montserrat;
    margin: 50px 0;
	color:$color-primary;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
@mixin h2-bold 
{
    width: 55%;
    border-bottom: 2px solid $color-secondary;
    padding-bottom: 20px;
    font-family: $font-Montserrat;
	color: $color-primary;
	font-size: 20px;
    font-weight: bold;
	text-align: left;
	margin:5% 0% 0% 10%;
}
@mixin h3 
{
    font-family: $font-Montserrat;
	color: $color-primary;
	font-size: 18px;
    font-weight: bold;
	text-align: left;
	margin:5% 0% 0% 10%;
}
@mixin p
{
    font-family: $font-Montserrat;
	color: $color-primary;
	font-size: 16px;
	text-align: left;
	margin:0% 0% 0% 10%;
}
@mixin identity {
    font-family: $font-Montserrat;
	color: $color-primary;
    font-size:0.9em;
    margin: 10px auto;
    text-align: center
}

@mixin legend
{
    font-family: $font-Montserrat;
	color: $color-primary;
	font-size: 14px;
	text-align: left;
	margin:5% 0% 0% 10%;
	font-style: italic;
    font-weight: bold;
}


// Animations qui concerne le loading spinner
// Couleurs attribuées aux coeurs et à l'icône du loading spinner
@mixin couleur-degradee
{
    color: transparent;
    background: $couleur-degradee;
    background-clip: text;
    -webkit-background-clip: text;
}
@mixin icone-loading 
{
    position:absolute;
    top: 25%;
    left: 35%;
    font-size: 12em;
    @include couleur-degradee;
    z-index: 3;
    @include anim-iconeloading;   
}
@mixin anim-loading 
{
    animation: 3000ms linear forwards;
    -moz-animation: anim-disp 3000ms linear forwards; /* Firefox */
    -webkit-animation: anim-disp 3000ms linear forwards; /* Safari et Chrome */
    -o-animation: anim-disp 3000ms linear forwards; /* Opera */
    @keyframes anim-disp
    {
        0%, 75% 
        {
            z-index: 2;
            opacity:1;
            background: $color-primary;
            cursor : wait;
        }
        100%
        {
            z-index: -1;
            opacity:0;
            cursor: initial;
        }
    }
}
@mixin anim-iconeloading
{
    -webkit-animation: i-taille 2700ms linear forwards;
    animation: i-taille 2700ms linear forwards;
    -webkit-animation: i-rotate 2700ms linear forwards;
    animation: i-rotate 2700ms linear forwards;
    @-webkit-keyframes i-rotate 
    { 
        100% 
        { 
            opacity: 0;
            z-index: -1;
            -webkit-transform: rotate(360deg)                   
        }
        
    }
    @keyframes i-rotate 
    { 
        100% 
        { 
            opacity: 0;
            z-index: -1;
            transform: rotate(360deg); 
            -webkit-transform: rotate(360deg)
        }
    }
    @-webkit-keyframes i-taille 
    {
        0%, 100% 
        { 
            opacity: 0;
            z-index: -1;
            -webkit-transform: scale(0.0)
        }
        50% 
        { 
            opacity: 1;
            -webkit-transform: scale(1.0) 
        }
    }
    @keyframes i-taille 
    {
        0%, 100% 
        { 
            opacity: 0;
            z-index: -1;
            transform: scale(0.0);
            -webkit-transform: scale(0.0);
        } 
        50% 
        { 
            opacity: 1;
            transform: scale(1.0);
            -webkit-transform: scale(1.0);
        }
    }
}