@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

.bloc-home{
     @include bloc-home;
     
}
.bloc-btn{
     width: 100%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}
.btn-home{
     @include btn;
     width: 30%;
     margin: 30px auto;
     font-size: 15px;
     padding: 10px;
}
.fa-address-book, .fa-newspaper, .fa-circle-user{
	font-size: 15px;
	color: $color-white;
	border: 2px solid $color-white;
	border-radius: 150px;
	background-color: $color-secondary;
	padding: 8px;
	margin: 10px;
}