@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

.bloc-article{
     @include bloc-home;
     flex-direction: row;
     margin: 0;
}
.bloc-btn-article{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     text-align: center;
     align-items: center;
}
// concerne la possibilité de revenir sur Dashbord
.btn-return{
     padding: 5px 8px;
     margin: 10px;
}
i.fa-circle-arrow-left{
     font-size: 1.5em;
     font-weight: bold;
     margin: 30px 0px 0px 30px;
}
i.fa-magnifying-glass
{
     font-size: 1.1em;
     font-weight: bold;
     color: white;
     background-color: #D1515A;
     padding: 15px;
     border-radius: 50%;
     margin: 30px 0px auto -34px;
     &:hover{
          cursor: pointer;
          box-shadow: 7px 7px 12px $color-primary
     }
 }
// concerne la possibilité de créer un post, de le modifier et de le supprimer
.groupomania-h2{
     @include h2-bold;
     width: 180px;
     margin: 30px auto 20px auto;
     text-align: center
}
.form-createPost{
     @include connect-cart;
     margin: 20px auto;
}
.input-text-article{
     @include input;
     font-size: 1.2em;
     height: 100px;
     text-overflow: ellipsis;
}
.btn-createPost{
     @include btn;
     margin: 10px auto;
     padding: 10px;
     font-size: 1em;
     font-weight: bold;
     &:hover{
          cursor: pointer;
          box-shadow: 7px 7px 12px $color-primary
     }
}
time {
     @include p;
     margin : 0
}
//mixin pour l'ensemble du bloc correspondant à l'input search-user
@include input-contact;

.bloc-cards{
     @include bloc-home;
     margin-bottom : 0px;
}
.bloc-card-article{
     @include bloc-card-user;
     margin-top: 25px
}
.card-article{
     @include card-user;
     max-width: 280px;
     height: auto;
     border-radius: 20px;
     margin: 20px auto;
}
.imageArticle{
    @include image-article
}
.author-post{
     margin: 5px 10px 10px 5px;
     display: flex;
     flex-direction: column;
     align-items: center;
     border: 1px solid $color-optional;
     border-radius: 15px;
     .author{
          @include legend;
          padding: 3px 5px 3px 5px;
     }
}
.container-article{
     @include container-article
}
.article-title{
     @include h3;
     width: 100%;
     margin: 3px 15px;
     border-bottom: 2px solid $color-primary;
     padding: 10px;
     // text-overflow: clip;
     // overflow: scroll;
}
.article-post{
     @include p;
     width: 100%;
     margin: 3px 15px; 
     padding: 15px 10px;
     // text-overflow: clip;
     // overflow: scroll;
}

.container-btn-icone{
     display: flex;
     flex-direction: row;
     justify-content: center;
     max-width: 80%;
     margin: 10px auto;
     i.fa-pen-clip, i.fa-thumbs-up, i.fa-thumbs-down, i.fa-message{
          color: $color-white;
          background-color: $color-secondary;
          border-radius: 50%;
          font-size: 1em;
          padding: 10px;
          margin: 10px;
          &:hover{
               cursor: pointer;
               font-size: 1.1em;
               box-shadow: 7px 7px 12px $color-primary
          }
          &:active{
               cursor: pointer;
               font-size: 14px;
               background-image: $color-primary;
          }
     }
     
}


.form-createPost{
     @include connect-cart;
     margin: 20px auto;
}
