@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

.groupomania-banner-connected {
	@include banner;
}
.groupomania-banner-logout {
	@include banner;
	justify-content: center;
}
.Logo{
	max-width: 70%;
	max-height: 250px;
	margin-left: 30px ;
}
.groupomania-logo {
	max-width: 225px;
	max-height: 225px;
	object-fit: cover;
}

.bloc-btn{
     width: 15%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
i.fa-right-from-bracket{
	font-size: 1.5em;
}