@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";

.groupomania-banner-connected {
	@include banner;
}
.groupomania-banner-logout {
	@include banner;
	justify-content: center;
}
.Logo{
	max-width: 70%;
	max-height: 250px;
	margin-left: 30px ;
}
.groupomania-logo {
	width: 225px;
    height: 35px;
    object-fit: cover;
}

.bloc-btn{
     width: 15%;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
i.fa-person-walking-arrow-right{
	font-size: 1.1em;
    border: 2px solid;
    border-radius: 50%;
    padding: 7px;
    font-weight: 700;
    &:hover, &:active{
        
        &:hover{
            cursor: pointer;
            font-size: 1.1em;
            box-shadow: 7px 7px 12px $color-primary
       }
       &:active{
            cursor: pointer;
            font-size: 14px;
            background-image: $color-primary;
       }
    }
}