@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
.groupomania-footer {
	color: $color-primary;
	background-color: #D1515A;
	padding: 32px;
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
.groupomania-footer-elem {
	margin-bottom: 10px;
}