@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
.groupomania-footer {
	color: $color-primary;
	background-color: #D1515A;
	text-align: center;
	width: 100%;
	padding: 30px 0px;
}
.groupomania-footer-elem {
	width: 100%;
	justify-content: center;
}

.p-footer{
	@include h2-bold;
	color: $color-white;
	text-align: center;
	margin: 20px auto;
}