@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
.groupomania-footer {
	color: $color-primary;
	background-color: #D1515A;
	text-align: center;
	width: 100%;
	padding: 30px 0px;
}
.groupomania-footer-elem {
	width: 100%;
	justify-content: center;
}

.p-footer{
	font-weight: 500;
	font-size: 1.2em;
	color: $color-white;
	text-align: center;
	margin: 20px auto;
}
.contact-admin{
	color: $color-white;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration:none;
     cursor: pointer;
     border:none;
	&:hover, &:active
	{
		border-bottom : 2px solid $color-secondary;
		color: $color-primary;
		font-weight: 500;
	}
}