@import "../../utils/_variables.scss";
@import "../../utils/_mixins.scss";
.editPost-h2{
     @include h2-bold;
     width: 90%;
     text-align: center;
     margin: 20px auto 0px auto;
}
.btn-createPost{
     @include btn;
     margin: 10px auto;
     padding: 10px;
     font-size: 1em;
     font-weight: bold;
     &:hover{
          cursor: pointer;
          box-shadow: 7px 7px 12px $color-primary
     } 
}
.container-edit{
     display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
input{
     @include input;
     margin: 10px auto 10px auto;
     &::placeholder
	{
		color: #091F43;
		font-family: $font-Montserrat;
	}
     &:focus, &:active{
		
		border: 2px solid $color-secondary;
		color: #091F43;
		font-family: $font-Montserrat;
	}
     &:focus-visible {
          appearance: menulist-button;
          background-image: none !important;
          border: 2px solid $color-secondary;
          background-color: -internal-light-dark(rgb(232, 240, 254), $color-optional(70, 90, 126, 0.4)) !important;
          color: -internal-light-dark($color-primary, white) !important;
      }
}