@import "../utils/_variables.scss";
@import "../utils/_mixins.scss";
.bloc{
     @include bloc-home; 
     flex-wrap: wrap;
     width: 100%;
     margin-bottom: 0px;
}
.bloc-Link{
     width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: center;
}
.app-h1
{
     @include h1;
     margin : 50px auto;
}
.Link{
    
     font-size: 1.2em;
     margin : 10px auto
}
.fa-address-book, .fa-newspaper, .fa-circle-user{
	font-size: 15px;
	color: $color-white;
	border: 2px solid $color-white;
	border-radius: 150px;
	background-color: $color-secondary;
	padding: 8px;
	margin: 10px;
}